<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>B♭ Majar onB♭</string>
		<key>Tempo</key>
		<integer>120</integer>
		<key>Scale</key>
		<integer>6</integer>
		<key>Note</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>Length</key>
		<array>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
		</array>
		<key>Activate</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>ハトと少年</string>
		<key>Tempo</key>
		<integer>180</integer>
		<key>Scale</key>
		<integer>6</integer>
		<key>Note</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
			<integer>12</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>6</integer>
			<integer>14</integer>
			<integer>7</integer>
			<string>0</string>
			<string>16</string>
			<string>17</string>
			<string>19</string>
			<string>0</string>
			<string>19</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>16</string>
			<string>14</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>16</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<integer>7</integer>
			<integer>8</integer>
			<integer>12</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>6</integer>
			<integer>14</integer>
			<integer>7</integer>
			<string>0</string>
			<string>16</string>
			<string>17</string>
			<string>19</string>
			<string>0</string>
			<string>19</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>16</string>
			<string>14</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>16</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>21</string>
			<string>0</string>
			<string>21</string>
			<string>0</string>
			<string>21</string>
			<string>19</string>
			<string>17</string>
			<string>0</string>
			<string>19</string>
			<string>12</string>
			<string>12</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>21</string>
			<string>0</string>
			<string>21</string>
			<string>0</string>
			<string>21</string>
			<string>19</string>
			<string>17</string>
			<string>19</string>
			<string>0</string>
			<string>16</string>
			<string>16</string>
			<string>16</string>
			<string>0</string>
			<string>17</string>
			<string>16</string>
			<string>14</string>
			<string>12</string>
			<string>0</string>
			<string>16</string>
			<string>0</string>
			<string>9</string>
			<string>0</string>
			<string>14</string>
			<string>0</string>
			<string>14</string>
			<string>14</string>
			<string>0</string>
			<string>14</string>
			<string>13</string>
			<string>14</string>
			<string>19</string>
			<string>0</string>
			<integer>7</integer>
			<integer>8</integer>
			<integer>12</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>6</integer>
			<integer>14</integer>
			<integer>7</integer>
			<string>0</string>
			<string>16</string>
			<string>17</string>
			<string>19</string>
			<string>0</string>
			<string>19</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>16</string>
			<string>14</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>16</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<integer>7</integer>
			<integer>8</integer>
			<integer>12</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>6</integer>
			<integer>14</integer>
			<integer>7</integer>
			<string>0</string>
			<string>16</string>
			<string>17</string>
			<string>19</string>
			<string>0</string>
			<string>19</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>0</string>
			<string>17</string>
			<string>16</string>
			<string>14</string>
			<string>0</string>
			<string>12</string>
			<string>0</string>
			<string>16</string>
			<string>0</string>
			<string>12</string>
		</array>
		<key>Length</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>1.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<integer>2</integer>
			<real>0.5</real>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>3</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<real>0.5</real>
			<real>0.5</real>
			<real>1.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<integer>2</integer>
			<real>0.5</real>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>3</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>5</string>
			<string>1</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>2</string>
			<string>1</string>
			<string>1.25</string>
			<string>0.25</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>3</string>
			<string>2.5</string>
			<real>0.5</real>
			<real>0.5</real>
			<real>1.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<integer>2</integer>
			<real>0.5</real>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>3</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<real>0.5</real>
			<real>0.5</real>
			<real>1.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<integer>2</integer>
			<real>0.5</real>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>3</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>3</string>
		</array>
		<key>Activate</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>サザエさんのテーマ　アウトロ</string>
		<key>Tempo</key>
		<integer>108</integer>
		<key>Scale</key>
		<integer>6</integer>
		<key>Note</key>
		<array>
			<integer>16</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>0</integer>
			<integer>15</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>8</integer>
			<integer>11</integer>
			<integer>0</integer>
			<integer>16</integer>
			<integer>0</integer>
			<integer>16</integer>
		</array>
		<key>Length</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<integer>2</integer>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<string>2</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
			<string>1.5</string>
			<string>0.5</string>
			<string>1</string>
			<string>0.5</string>
			<string>0.5</string>
		</array>
		<key>Activate</key>
		<array>
			<integer>1</integer>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<string>1</string>
		</array>
	</dict>
</array>
</plist>
